# ==== BINARIOS ====
*.exe
*.out
*.app

# ==== OBJETOS DE COMPILACIÓN ====
*.o
*.obj
*.a
*.so
*.dll

# === CONFIGURACIÓN Y DEMÁS ===
*.txt

# ==== CODE::BLOCKS ====
*.layout
*.depend
*.cbp
*.cscope_file_list

# ==== CARPETAS DE BUILD ====
bin/
obj/
debug/
bin/Debug

# === LIBRERIAS ===
lib/

# === RESPALDO ===
*.bak