# === BINARIOS ===
*.exe
*.out
*.app

# === OBJETOS DE COMPILACIÓN ===
*.o
*.obj
*.a
*.so
*.dll

# === CONFIGURACIÓN Y DEMÁS ===
*.txt
Makefile

# === CODE::BLOCKS ===
*.layout
*.depend
*.cbp
*.cscope_file_list

# === VSCode ===
.vscode/

# === CARPETAS DE BUILD ===
bin/
obj/
debug/
bin/Debug

# === Archivos ===
*.dat

# === LIBRERIAS ===
lib/

# === RESPALDO ===
*.bak